@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: Roboto;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.intro {
    color: white;
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.intro .header {
    margin: 10px 230px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.header ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.header a {
    color: white;
    text-decoration: none;
}

.intro .content {
    height: 330px;
    margin: 80px 230px;
    display: flex;
    justify-content: space-between;
}

.intro .container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}

.intro h2 {
    margin: 0;
    font-size: 68px;
    font-weight: 1000;
}

.intro p {
    margin: 0;
    font-size: 28px;
}

.intro button {
    padding: 5px;
    height: 30px;
    width: 80px;
}

.intro .img {
    background-image: url('./img/pexels-anni-roenkae-2693212.jpg');
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .container {
    display: flex;
    padding: 10px;
}

.info .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.quote {
    color: black;
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.signUp {
    color: white;
    flex: 1;
    display: flex;
    padding: 50px;
}

.signUp .content {
    background-color: #3882F6;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.footer {
    color: white;
    background-color: #1F2937;
    flex: 0 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}