@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    font-family: Roboto;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.intro {
    color: white;
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.intro .header {
    margin: 10px 230px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.header ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.header a {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.intro .content {
    margin: 80px 230px;
    display: flex;
    justify-content: space-between;
}

.intro .container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}

.intro h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.intro p {
    margin: 0;
    font-size: 18px;
}

.intro button {
    color: white;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 40px;
}

.intro .img {
    background-image: url('./img/pexels-anni-roenkae-2693212.jpg');
    width: 600px;
    height: 280px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info .header {
    font-size: 36px;
    font-weight: bolder;
    margin: 0;
}

.info .container {
    display: flex;
    padding: 10px;
}

.info .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.info p {
    width: 200px;
    text-align: center;
    font-size: 18px;
}

.info img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.quote {
    color: black;
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: center;
}

.quote p {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote em {
    font-size: 36px;
    font-weight: lighter;
}

.quote strong {
    align-self: flex-end;
    font-size: 24px;
}


.person div {
    text-align: center;

}

.signUp {
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.signUp .content {
    width: 1200px;
    height: 150px;
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signUp p {
    margin: 0;
}

.signUp #p1 {
    font-size: 24px;
    font-weight: bolder;
}

.signUp #p2 {
    font-size: 18px;
}

.signUp button {
    color: white;
    background-color: #3882F6;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 40px;
}

.footer {
    height: 100px;
    color: white;
    background-color: #1F2937;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 18px;
}